<nav class="navbar bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Blogify</a>
    <div class="d-flex">
      <% if (user === null) { %>
        <!-- Redirect to /login -->
        <a href="/login" class="btn btn-primary btn-sm mx-1">Login</a>
        <!-- Redirect to /signup -->
        <a href="/signup" class="btn btn-secondary btn-sm mx-3">Signup</a>
      <% } else { %>
        <a href="/myBlogs" class="btn btn-primary btn-sm mx-5">My Blogs</a>
        <!-- Redirect to /blog/create -->
        <a href="/create" class="btn btn-primary btn-sm mx-1">Create Post</a>
        <!-- Redirect to /user/logout -->
        <a href="/user/logout" class="btn btn-secondary btn-sm mx-3">Logout</a>       
      <% } %>
    </div>
  </div>
</nav>