<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Create Blog</title>
</head>
<body>
    <form method="post" action="/blog/create" enctype="multipart/form-data" class="mx-auto p-2">
      <h2>Create Blog</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" name="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="Thumbnail" class="form-label">Thumbnail</label>
          <input type="file" name="Tumbnail" id="Thumbnail" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Description</label>
          <input type="text" name="Description" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <%- include('./partials/scripts') %>
</body>
</html>