name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
    paths: 
      - 'frontend/**'
      - '.github/workflows/azure-static-web-apps-blue-forest-086e65900.yml'
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths: 
      - 'frontend/**'

env:
  NODE_VERSION: '20.x' 
  FRONTEND_DIR: './frontend'

jobs:
  build_and_deploy_job:

    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')

    runs-on: ubuntu-latest
    name: Build and Deploy Job

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          lfs: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: '${{ env.FRONTEND_DIR }}/package-lock.json'

      - name: Install dependencies
        working-directory: ${{ env.FRONTEND_DIR }}
        run: npm ci

      - name: Create .env file
        working-directory: ${{ env.FRONTEND_DIR }}
        run: |
          echo "VITE_API_URL=${{ secrets.AZURE_NODEJS_WEBAPP_URL }}" > .env

      - name: Build Application
        working-directory: ${{ env.FRONTEND_DIR }}
        run: npm run build

      - name: Deploy to Azure static webapp
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.FRONTEND_URL }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          
          # Path configuration
          app_location: "frontend" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "dist"

          skip_app_build: true

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job

    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.FRONTEND_URL }}
          action: "close"
